@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family:'rubik';
  margin: 0;
  padding: 0;
}
header {
    background-color: #5d6d7c; 
}
/*Footer*/

footer {
    background-color: #5d6d7c ;
}
footer a {
    color: #000000;
}

/*Footer*/

/*Menu de navegacion*/

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.logo {
    height: 70px;
}

/*Menu de navegacion*/

.contenedor-1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: #73889d;
}
.contenedor-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    align-items: center;
    background-color: #73889d   ;
}
.card{
    border: 0;
    background-color: #73889d;
}
.titulos{ 
    display: grid;
    justify-content: center;
    background-color: #73889d ;
    margin: 0;
    padding: 0;
}
.contenedor-2 .img {
    max-width: 100%;
}