.contact-form {
    grid-area: form;
    background-color: $color-darkslate;
    padding: 20px;
    border-radius: 10px;
    & button {
        padding: 10px 20px;
        background-color: #9c844f;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    input,
    textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $color-textos;
    border-radius: 5px;
    background-color: $color-darkslate;
}
}

.contact-info {
    display: grid;
    justify-content: center;
    grid-area: info;
    background-color: $color-darkslate;
    padding: 10px;
    border-radius: 10px;
}